

/* banner */
.aboutus-banner{
    margin-bottom: 68px;
}
.aboutus-banner img{
    width: 100%;
    max-width: 1920px;
    vertical-align: top;
}
.m-aboutus-banner{
    display: none;
    margin-bottom: 68px;
}
@media (max-width:768px) {
    .aboutus-banner{
        display: none;
    }
    .m-aboutus-banner{
        display: block;
    }
    .m-aboutus-banner img{
        width: 100%;
        max-width: 768px;
        vertical-align: top;
    }
}

/* 介紹 */
#aboutus-introduce{
    margin-bottom: 34px;
}
#text1{
    padding: 34px 0 34px 34px;
}
#text1 p{
    margin: 20px 0 0 34px;
}

#text1 :first-child{
    font-size: 36px;
    margin: 34px 0 34px 34px;
    padding-top: 34px;
}
#text1 :nth-child(2){
    font-size: 36px;
    margin: 34px 0 34px 34px;
}

#text2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    margin: 34px 34px 0 0;
}
#text2 p{
    margin: 20px 0 0 0;
}

#text2 :first-child{
    font-size: 36px;
    margin-bottom: 34px;
}

/* 左上 */
.aboutus-lefttop img{
    width: 100%;
    vertical-align: top;
    margin-bottom: 34px;
}

/* 左下 */
#aboutus-leftbottom{
    background: url(../Images/aboutus-left-bottom.png) no-repeat left 2em bottom / 93%;
}

/* 右上 */
.aboutus-righttop{
    background: url(../Images/aboutus-right-top.png) no-repeat right 1em top 2em / 90%;
}
/* 右下 */
#aboutus-rightbottom img{
    width: 100%;
    vertical-align: top;
    margin:34px 0 0 34px;
}
#m-introduce{
    display: none;
    max-width: 768px;
}
#m-intro-3 img{
    width: 92%;
    max-width: 400px;

}
.m-intro-text{
    background: url(../Images/mobile-abous-2.svg) no-repeat center/100%;
    width: 100%;
    max-width: 400px;
    height: 400px;
}
.m-introduce-container>.col{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.m-intro-text{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    flex-shrink: 1;
}
#m-text1 :first-child{
    font-size: 24px;
}
#m-text1 :nth-child(2){
    font-size: 24px;
}
#m-text2 :first-child{
    font-size: 24px;
}
@media (max-width:768px) {
    #m-introduce{
        display: flex;
    }
    #aboutus-introduce{
        display: none;
    }

    
}