@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
/*  聯絡我們資訊  */
.cotactus-info{
    max-width: 1200px;
    width: 100%;
}
#sign img{
    width: 100%;
    vertical-align: top;
}
#infotext{
    background-color: #F2ECDE;
    border-radius: 0 20px 20px 0px;
    display: flex;
    justify-content: center;
}
.contactus-info-border{
    border: 1px solid #E3D8C6;
    padding: 34px;
    border-radius: 20px;
}

.contactus-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}
.contactus-text-footer{
    display: flex;
    align-items: end;
}
.contactus-icons{
    display: flex;
    justify-content: start;
    gap: 34px;
}
.contactus-btn a{
    display: flex;
    background-color: #DBC5AE;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px ;
    border-radius: 50px;
    margin-left: 34px;
}
.contactus-btn a:hover{
    background-color: #E6CAA2;

}
/* 地圖 */
.contactus-map{
    display: flex;
    justify-content: center;
    margin: 34px;
}
.contactus-map-border{
    border: 1px solid #E3D8C6;
    padding: 34px;
    border-radius: 20px;
}
.contactus-mapbox{
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    background-color: #fffbf0;
    position: relative;
}
.contactus-mapbox iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}

/* 背景圓圈線 */
.contactus-circleline{
    position: absolute;
    right: 6%;
    top: 26%;
}
.contactus-circleline img{
    width: 100%;
    vertical-align: top;
}

