
/* BANNER */
.banner-bgc{
    background: url(../Images/banner1.png) no-repeat left top;
    width: 100%;
    max-width: 1920px;
    height: 1000px;
    position: relative;
}
.banner-cloud{
    position: relative;
    width: 100%;
    max-width: 800px;
    top: 30%;
    left: 3%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 3s 0s linear 1 alternate,
                gogo 5s 0s linear infinite alternate
}
@keyframes move {
    0%{top: 0%;}
    50%{top: 35%;}
    100%{top: 30%;}
}
@keyframes gogo {
    0%{top: 30%;}
    50%{top: 25%;}
    100%{top: 35%;}

}
.banner-text{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: #723137;
    position: absolute;
    top: 40%;
    left: 3%;
    gap: 20px  ;
}
.banner-text>p{
    display: block;
    width: 100%;
    padding-left: 10%;

}
.banner-text>p:last-child{
    padding-left: 20%;

}
@media (max-width:768px) {
    .banner-cloud{
        display: none;
    }
    .banner-bgc{
        background: url(../Images/mobile-index-banner.png) no-repeat left top /100%;
        width: 100%;
        padding-bottom: 75%;
        height: 0;
        max-width: 768px;
    }
}
/* 跑馬燈 */
#marquee{
    display: flex;
}
.marquee-container {
    width: 100%;
    height: 1em;
    max-width: 1920px;
    overflow: hidden;
    background-color: #fff;
}

.marquee-content {
    display: inline-block;
    max-width: 1920px;
    width: 100%;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width:768px) {
    #marquee{
        display: none;
    }
    }
/* 熱銷商品 */
.hotproducts img{
    width: 100%;
}
#hot-products>.row{
    justify-content: center;
}
.hot-products-body{
    position: relative;
}
.hot-products-left{
    position: absolute;
    top: 50%;
    left:-5%;
    cursor: pointer;
}
.hot-products-right{
    position: absolute;
    top: 50%;
    right:-5%;
    cursor: pointer;

}
.hot-products-title h2{
    text-align: center;
    font-size: 36px;
    margin: 34px 0;
    font-weight: 500;
}
.hotproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hotproduct-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hotproduct-text p{
    margin: 20px 0;
    font-size: 24px;
}
.hotproducts-footer-a{
    display: flex;
    justify-content: center;
}
.hotproducts-footer-a a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC5AE;
    text-align: center;
    width: 10em;
    padding: 1em 0;
    border-radius: 50px;
    margin: 34px 0;
}
.hotproducts-footer-a a:hover{
    background-color: #E6CAA2;
}
@media (max-width:768px) {
    .hot-products-title h2{
    font-size: 24px;
    }
    .hotproduct-text p{
        font-size: 18px;
    }
    .hot-products-right{
        display: none;
    }
    .hot-products-left{
        display: none;
    }
    .hotproducts img{
        width: 60%;
    }
    .hot-products-main>.col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hotproducts>a{
        text-align: center;
    }
}
/* DIY */
.DIY-body-main{
    flex-wrap: nowrap;
}
#DIY{
    background: #FFF2DF url(../Images/html-BGC.png);
}
.DIY-body-title h2{
    text-align: center;
    font-size: 36px;
    margin: 34px 0;
    font-weight: 500;
}

.diy-img img{
    width: 100%;
    vertical-align: top;
    max-width: 590px;
}
.DIY-body-main>.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.DIY-body-main{
    gap: 10px;
}
.diy-text{
    width: 100%;
    max-width: 590px;
}
.diy-text p{
    margin: 34px 0;
}
.DIY-body-main>.col:nth-child(3){
    align-items: flex-end;
}
.DIY-body-footer {
    justify-content: center;
}
.DIY-body-footer a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC5AE;
    text-align: center;
    width: 10em;
    padding: 1em 0;
    border-radius: 50px;
    margin: 34px 0;
}
.DIY-body-footer a:hover{
    background-color: #E6CAA2;
}
.DIY-mobilebody{
    display: none;
    max-width: 768px;
    width: 100%;
    padding: 50% 0;

}
@media (max-width: 768px) {
    .DIY-mobilebody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 50% 0;
        max-width: 768px;
        background: url(../Images/DIY-mobile.svg) no-repeat center /100%;
    }
    .DIY-body-title{
        display: none;
    }
    .DIY-body-main{
        display: none;
    }
    .DIY-body-footer{
        display: none;
    }
    .DIY-mobilebody-btn a{
        display: flex;
        text-align: center;

    }
    .DIY-mobilebody-text{
    background: url(../Images/DIY-mobilebgc.png)no-repeat center/cover ;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 768px;
    }
    .DIY-mobilebody-text a{
        font-size: 24px;
        display: flex;
        padding: 10% 0;
        text-decoration: none;
        color: #fff;

    }
}
/* SOP */
.sop-body{
    position: relative;
}
.sop-body-title{
    text-align: center;
    margin: 34px 0;
}
.sop-body-title>.col{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.sop-body-title h2{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
}
.step-img img{
    width: 100%;
    max-width: 400px;
}
.sop-body-main>.col{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    gap: 34px;
    align-items: center;
    
}
.step-img{
    align-items: center;
}


.step-text{
    text-align: left;
}
@media (max-width:768px) {
    .sop-body-title h2{
        font-size: 24px;
    }
    .sop-body-title p{
        font-size: 18px;
    }

    .sop-body-main>.col{
        font-size: 16px;
    }
    .mobile-sop>.col{
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
        font-size: 14px;
    }
    .m-step-text p{
        text-align: center;
    }
    .m-step-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
    }
    .m-step-img{
        vertical-align: top;
        width: 100%;
    }

}
/* 四個虛線背景圖 */
.circleline1{
    background: url(../Images/sop-dashline1.png) no-repeat right top /93%;
    position: absolute;
    width: 600px;
    padding-bottom: 50%;
    right: 6%;
    top: 7%;
}
.circleline2{
    background: url(../Images/sop-dashline2.png) no-repeat right top /93%;
    position: absolute;
    width: 600px;
    padding-bottom: 50%;
    left: 3%;
    top: 30%;
}
.circleline3{
    background: url(../Images/sop-dashline3.png) no-repeat center /93%;
    position: absolute;
    width: 600px;
    padding-bottom: 51%;
    right: 4%;
    top: 52%;
}
.circleline4{
    background: url(../Images/sop-dashline4.png) no-repeat right top /93%;
    position: absolute;
    width: 600px;
    padding-bottom: 50%;
    left: 2%;
    bottom: -7%;
}
/* mobile-sop */
.mobile-sop{
    display: none;
}
@media (max-width:1199px) {
    .sop-circleline{
        display: none;
    }
}
@media (max-width:768px) {
    .sop-decorations{
        display: none;
    }
    .sop-body-main{
        display: none;
    }
    .mobile-sop{
        display: flex;
        position: relative;
    }
    .mobile-flour{
        background: url(../Images/mobile-flour.svg) no-repeat left top /80%;
        position: absolute;
        top: 20%;
        left: 13%;
        width: 100px;
        height: 100px;
    }
    .mobile-rolling{
        background: url(../Images/mobile-rolling.svg) no-repeat left top /100%;
        position: absolute;
        top:46%;
        left: 11%;
        width: 100px;
        height: 100px;
    
    }
    .mobile-yolk{
        background: url(../Images/mobile-yolk.svg) no-repeat left top /80%;
        position: absolute;
        bottom: 23%;
        left: 13%;
        width: 100px;
        height: 100px;
        }
    .mobile-oven{
        background: url(../Images/mobile-oven.svg) no-repeat left top /80%;
        position: absolute;
        bottom: -2%;
        left: 12%;
        width: 100px;
        height: 100px;
        }
}

/* 四個小圖案 */
.flour{
    background: url(../Images/sop-flour.png) no-repeat left top /80%;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 170px;
    height: 170px;
    
}
.rolling-pin{
    background: url(../Images/sop-rolling\ pin.png) no-repeat right top / 80%;
    position: absolute;
    top: 46%;
    right: -8%;
    width: 250px;
    height: 165px;

}
.yolk{
    background: url(../Images/sop-yolkcake.png) no-repeat center / 80%;
    position: absolute;
    bottom: 34%;
    left: 12%;
    width: 280px;
    height: 280px;
}
.oven{
    background: url(../Images/sop-oven.png) no-repeat right bottom / 80%;
    position: absolute;
    bottom: 14%;
    right: 0;
    width: 250px;
    height: 210px;

}
