@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
/* BANNER */

#banner img{
    max-width: 1920px;
    width: 100%;
    vertical-align: top;
    display: flex;
    justify-content: center;
}
/* 熱銷商品 */
#hot-products>.row{
    justify-content: center;
}
.hot-products-body{
    position: relative;
}
.hot-products-left{
    position: absolute;
    top: 50%;
    left:-5%;
    cursor: pointer;
}
.hot-products-right{
    position: absolute;
    position: absolute;
    top: 50%;
    right:-5%;
    cursor: pointer;

}
.hot-products-title h2{
    text-align: center;
    font-size: 36px;
    margin: 34px 0;
    font-weight: 500;
}
.hotproducts{
    display: flex;
    flex-direction: column;
}
.hotproduct-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hotproduct-text p{
    margin: 20px 0;
    font-size: 24px;
}
.hotproducts-footer-a{
    display: flex;
    justify-content: center;
}
.hotproducts-footer-a a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC5AE;
    text-align: center;
    width: 10em;
    padding: 1em 0;
    border-radius: 50px;
    margin: 34px 0;
}
.hotproducts-footer-a a:hover{
    background-color: #E6CAA2;
}
@media (max-width:768px) {
    .hot-products-right{
        display: none;
    }
    .hot-products-left{
        display: none;
    }
}
/* DIY */
#DIY{
    background: #FFF2DF url(../Images/html-BGC.png);
}
.DIY-body-title h2{
    text-align: center;
    font-size: 36px;
    margin: 34px 0;
    font-weight: 500;
}

.diy-img img{
    width: 100%;
    vertical-align: top;
    max-width: 590px;
}
.DIY-body-main>.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.DIY-body-main{
    gap: 10px;
}
.diy-text{
    width: 100%;
    max-width: 590px;
}
.diy-text p{
    margin: 34px 0;
}
.DIY-body-main>.col:nth-child(3){
    align-items: flex-end;
}
.DIY-body-footer {
    justify-content: center;
}
.DIY-body-footer a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC5AE;
    text-align: center;
    width: 10em;
    padding: 1em 0;
    border-radius: 50px;
    margin: 34px 0;
}
.DIY-body-footer a:hover{
    background-color: #E6CAA2;
}
.DIY-mobilebody{
    display: none;
    max-width: 768px;
    width: 100%;
    padding: 50% 0;
}

.DIY-mobilebody-text{
    background: url(../Images/DIY-mobilebgc.png)no-repeat center/cover;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 768px;
}
.DIY-mobilebody-text p{
    color: #fff;
    padding: 5% 0;
    font-size: 24px;
}


@media (max-width: 768px) {
    .DIY-mobilebody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 768px;
        min-width: 480px;
        background: url(../Images/DIY-mobile.svg) no-repeat center /cover;
    }
    .DIY-body-title{
        display: none;
    }
    .DIY-body-main{
        display: none;
    }
    .DIY-body-footer{
        display: none;
    }
}

/* 四個小圖案 */
.flour{
    position: absolute;
    top: 270px;
    left: 370px;
    width: 170px;
    height: 170px;
    background: url(../Images/sop-flour.png) no-repeat ;
    
}
.rolling-pin{
    position: absolute;
    top: 32%;
    right: 18%;
    width: 360px;
    height: 165px;
    background: url(../Images/sop-rolling\ pin.png) no-repeat;

}
.yolk{
    position: absolute;
    bottom: 38%;
    left: 19%;
    width: 280px;
    height: 280px;
    background: url(../Images/sop-yolkcake.png) no-repeat;
}
.oven{
    position: absolute;
    bottom: 16%;
    right: 18%;
    width: 300px;
    height: 210px;
    background: url(../Images/sop-oven.png) no-repeat;

}
