#header{
    padding-bottom: 10%;
}
#mobile-header{
    padding-bottom: 10%;
}

/* 分類按鈕 */

.news-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    margin-bottom: 34px;
    color: #fff;
    
}
.news-discount{
    text-align: center;
    border-radius: 50px;
    background-color: #DBC5AE;
    width: 100px;
    padding:1em 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.news-discount:hover{
    background-color: #E6CAA2;
}

.news-activity{
    text-align: center;
    border-radius: 50px;
    background-color: #DBC5AE;
    width: 100px;
    padding:1em 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-activity:hover{
    background-color: #E6CAA2;
}

.news-news{
    text-align: center;
    border-radius: 50px;
    background-color: #DBC5AE;
    width: 100px;
    padding:1em 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-news:hover{
    background-color: #E6CAA2;
}

/* 新聞區 */
.news-content{
    /* max-width: 1920px; */
    background: rgba(255,242,223,1) url(../Images/html-BGC.png) repeat left top / cover;
}
.col{
    display: flex;

}
.news-content-bottom{
    background-color: #fffbf0;
}
.news-card{
    margin: 34px;
    border-radius: 30px;
    box-shadow: 1px 0px 10px #ccc; 
    position: relative;
    background-color: #F2ECDE;

}
.news-card:hover{
    box-shadow: 1px 0px 20px #999; 
}
.news-card img{
    width: 100%;
    vertical-align: top;
    border-radius: 30px 30px 0 0;
}
.news-card-label{
    background-color: #dfd5bc;
    position: absolute;
    top: 5%;
    left: -8%;
    border-radius: 10px;
    padding: 5px;
    width: 4em;
    text-align: center;
    box-shadow: 1px 1px 2px #DBC5AE;
}

.news-text{
    line-height: 27px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 34px;
    border-radius: 0 0 30px 30px;
}

.news-text h3{
    font-size: 20px;
    font-weight: 400;
}
@media (max-width:768px) {
    .news-card-label{
        left: -2%;
    }
}

/* 換頁 */

.news-changebtn{
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    margin: 34px;
}

.news-changebtn a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBC5AE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.news-changebtn a:hover{
    background-color: #E6CAA2;
}


