#header{
    padding-bottom: 15%;
}
#mobile-header{
    padding-bottom: 10%;
}

/* 訂購步驟小圖 */
.step1 p:first-child{
    background: url(../Images/other-step-ing.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.4rem;
}
.step2 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}
.step3 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}
.step4 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}

.order-stepsmallimg{
    max-width: 800px;
}
.step1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.step3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.step4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* 訂購內容 */
.order-content{
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;

}
.content-body{
    text-align: center;
    padding: 34px;
    position: relative;
}
.content-body:not(:nth-child(4))::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: #d9d0c6;
    position: absolute;
    left: 9%;
    top: 95%;
    box-sizing: border-box;
}

.order-content-body{
    background-color: #F2ECDE;
    border-radius: 20px;
}
.number {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}
.number span{
    cursor: pointer;
}
.minus{
    width: 1em;
    height: 2.5rem;
    text-align: center;
    background-color: #fffbf0;
    border-radius: 10px 0 0 10px;
    font-size: 26px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.plus{
    width: 1em;
    height: 2.5rem;
    vertical-align: middle;
    text-align: center;
    background-color: #fffbf0;
    border-radius: 0 10px 10px 0;
    font-size: 26px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.minus:hover, .plus:hover{
    background-color: #DBC5AE;
}
#numberbox,#numberbox1{
    height: 46px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #fffbf0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #fffbf0;
    font-family: FakePearl-Regular;
}
.content-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete{
    position: absolute;
    right: 5%;

}
/* 按扭區 */
[class*=btn-]{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 34px;
    margin: 34px 0;
}
[class*=btn-] > a{
padding: 1rem 3rem;
margin: 3rem 0 1rem 0;
text-decoration: none;
background-color: #DBC5AE;
color: aliceblue;
border-radius: 30px;
}
[class*=btn-] > a:hover{
    background-color: #E6CAA2;
    color: #000;
}
    
@media (max-width:768px) {
    [class*=btn-] > a{
        margin: 1rem 0 2rem 0;
        padding: 1rem 3rem;

    }
    [class*=btn-]{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 34px;
        margin: 0;
    }
    .content-body>.col{
        gap: 10px;
        padding: var(--column-gap) var(--column-gap)
    }

}