@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

/* 身體 */

/* 訂購步驟小圖 */

.order-stepsmallimg{
    max-width: 800px;
}

.step1 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat left top;
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    
    
}
.step2 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat left top;
    width: 45px;
    height: 45px;
    text-align: center;
    
    

}
.step3 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat left top;
    width: 45px;
    height: 45px;
    text-align: center;
    
    

}
.step4 p:first-child{
    background: url(../Images/other-step-ing.png) no-repeat left top;
    width: 50px;
    height: 50px;
    text-align: center;
    

}


.step1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.step3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.step4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* 訂購完成資訊  */
.orderfinish-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 68px;
}
.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.finish-info{
    max-width: 800px;
}

/* 更多商品按紐 */
.morebtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}
.morebtn a{
    color: #fff;
    text-decoration: none;
    background-color: #DBC5AE;
    border-radius: 30px;
    padding: 0 2rem;
    margin:auto
}
.morebtn a:hover{
    background-color: #E6CAA2;
}
