#header{
    padding-bottom: 15%;
}
#mobile-header{
    padding-bottom: 10%;
}

/* 身體 */

/* 訂購步驟小圖 */

.order-stepsmallimg{
    max-width: 800px;
}
.stepsmallimg>.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step1 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 1.4rem;
}
.step2 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}
.step3 p:first-child{
    background: url(../Images/order-otherstep.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}
.step4 p:first-child{
    background: url(../Images/other-step-ing.png) no-repeat center;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding-top: 1.4rem;

}

/* 訂購完成資訊  */
.orderfinish-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 68px;
}
.finish-info>.row>.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.finish-info>.row{
    margin: 34px calc(var(--column-gap) * -1);
}
.finish-info{
    max-width: 800px;
}
.infonum{
    display:inline;
    margin: 34px;
}

/* 更多商品按紐 */
.morebtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}
.morebtn a{
    color: #fff;
    text-decoration: none;
    background-color: #DBC5AE;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin:auto
}
.morebtn a:hover{
    background-color: #E6CAA2;
}
